<div class="modal fade" id="detail-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detail data reservation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control username-parsing" name="username" placeholder="Username" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control number-parsing" name="phoneNumber" placeholder="phoneNumber" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="date" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input type="text" class="form-control date-parsing" name="date" placeholder="Review" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="time" class="col-sm-2 col-form-label">Time</label>
              <div class="col-sm-10">
                <input type="text" class="form-control time-parsing" name="time" placeholder="Review" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="status" class="col-sm-2 col-form-label">Status</label>
              <div class="col-sm-10">
                <input type="text" class="form-control status-parsing" name="status" placeholder="Review" disabled>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>